/* UNIVERSAL STYLES */

/* Reset Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Links */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Body + Inherited Text Styles */

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* SEMANTIC DOCUMENT STRUCTURE */

/* Header */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* Header and nav elements added to reflect html semantic layout change and font-family removed as per universal declaration */
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo { /* Enables 'SEO' to stand out in company name */
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

/* Figure */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Content */

.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* Services element added to reflect html semantic layout change */
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px; 
}

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 36px;
    /* Article classes in main section selected and declarations consolidated */
}

.service img {
    max-height: 200px;
     /* Images in article classes in main section selected and declarations consolidated */
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benefits Aside Sidebar */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color:#ffffff;
    margin-bottom: 10px;
    /* Benefits element added to reflect html semantic layout change */
}

.benefit {
    margin-bottom: 32px;
    font-size: 18px;
    /* Class selectors consolidated */
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    /* Text-align declaration consolidated */
  }

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /* Article images selected and declarations consolidated */
}

/* Footer */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 24px;
}

.footer h4 {
    font-size: 20px;
}
